/* imports */
@import "/resources/css/layouts/profile.scss";
@import "/resources/css/layouts/business.scss";
@import "/resources/css/layouts/contact.scss";
@import "../css/components/details-box.scss";

body {
    font-family: "DIN Next", sans-serif;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.nav-items {
    margin-right: 100px;
}

.nav-items a {
    margin: 0 0 60px 60px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #364343;
    padding: 7px 0;
    border: none;
    cursor: pointer;
}

.nav-log {
    margin-right: 200px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0px 0px;
}

.pagination li {
    margin-left: 36px;
    list-style-type: none;
}

.pagination .active a {
    padding: 10px;
    background-color: $primary-green;
    color: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: all, 500ms, cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: all, 500ms, cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: all, 500ms, cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.pagination .button-icon {
    margin: 0px 10px 0px 10px;
}

.pagination a {
    text-decoration: none;
    color: $primary-letter;
}

.next-container {
    padding-left: 30px;
}

@media only screen and (max-width: 600px) {
    .nav-container {
        margin-top: 10px;
        display: inline-block;
    }

    .container-page {
        margin: 0;
    }

    .nav-items a {
        margin: 0px;
    }

    .site-footer__sub {
        display: block !important;
    }

    .site-footer__sub div {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 601px) and (max-width: 1180px) {
    .nav-container {
        margin-top: 10px;
        display: inline-block;
    }

    .nav-items a {
        margin: 0px;
    }

    .site-footer__sub div {
        display: block;
        justify-content: center;
    }
}
