.table, th, td {
    border: 1px solid black;
}

.table {
    width: 100%;
}

.welcome-page h4 {
    display: flex;
    justify-content: center;
}
.w3-border {
    border: 1px solid #4a5568;
}
.w3-grey {
    background-color: #2d3748;
}

/* Contact form */

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: left;
    font-family: sans-serif;
}
form {
    background: #ecf5fc;
    padding: 40px 50px 45px;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.form-group {
    margin-top: 20px;
}

label {
    font-weight: 600;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}
