body {
    font-family: "DIN Next", sans-serif;
    color: #364343;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.nav-items {
    margin-right: 100px;
}

.nav-items a {
    margin: 0 0 60px 60px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #364343;
    padding: 7px 0;
    border: none;
    cursor: pointer;
}

.nav-log {
    margin-right: 200px;
}

.table, th, td {
    border: 1px solid #f0f0f0;
}

.table {
    width: 100%;
}

.welcome-page {
    margin: 0 60px 60px 60px;
}

.welcome-page h4 {
    display: flex;
    justify-content: center;
}
.no-data-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

/* Contact form */

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: left;
    font-family: sans-serif;
}
form {
    background: #ecf5fc;
    padding: 40px 50px 45px;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.form-group div  {
    width: 300px;
}

.form-group div input {
    width: 100%;
    position: relative;
    height: 40px;
    padding: 0 10px 0 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    outline: none;
    color: #364343;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-transition: all, 200ms, ease;
    -moz-transition: all, 200ms, ease;
    -o-transition: all, 200ms, ease;
    transition: all 200ms ease;
}

.form-group div input:focus {
    z-index: 1;
    border: 1px solid #00bdbd;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    background: #fff;
    font-size: 16px;
}

.form-group div label {
    font-family: "DIN Next", sans-serif;
    color: #364343;
    display: block;
    text-indent: 5px;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    background-color: #f4f8f8;
    padding: 20px;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

/*Directory*/
.card-container {
    margin-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #f0f0f0;
    overflow: visible;
    width: 100%;
    padding: 0;
    float: left;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #aaa;
    position: relative;
    margin: 20px 0 0 0;
}

.card-header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.card-header-container {
    display: flex;
}

.card-header-name {
    font-weight: 400;
}

.card-header-profession {
    color: #3c4951;
    font-size: 14px;
    font-weight: 300;
}

.vertically-separator {
    border-right: 1px solid #f0f0f0;
    margin-right: 10px;
    margin-left: 10px;
}

.card-header-description {
    display: flex;
    justify-content: space-between;
    color: #00bdbd;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 400;
}

.card-body {
    display: flex;
    padding: 10px;
    border-top: 1px solid #f0f0f0;
}

.card-body-picture {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
}

.card-body-picture-container label {
    font-size: 10px;
    margin-left: 6px;
}

.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 10px;
    width: 15px;
}

.card-body-stadistic {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body-stadistic div {
    color: #00bdbd;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 400;
}

.card-body-location {
    max-width: 150px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-body-description-title {
    color: #465259;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 100 !important;
    letter-spacing: 1px;
}

.card-body-description-subtitle {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #465259;
}

.card-footer {
    border-top: 1px solid #f0f0f0;
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.card-footer button {
    height: 40px;
    background-color: #ffffff;
    color: #364343;
    border: 1px solid #364343;
    border-radius: 2px;
    cursor: pointer;
}

.filter-container {
    display: flex;
    justify-content: space-evenly;
}

.btn-primary {
    font-family: "DIN Next", sans-serif;
    display: block;
    text-indent: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #00bdbd;
    border-radius: 10px;
    cursor: pointer;
}

.pagination {
    display: flex;
}

.pagination li {
    margin-left: 36px;
}

.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    background: #f4f8f8;
    padding: 20px;
}

.breadcrumb-container button {
    background: transparent;
    font-weight: 400;
    text-transform: none;
    color: #364343;
    border: 1px solid #364343;
    border-radius: 0;
    padding: 15px 25px;
}
